h1 {
    text-align: center;
    font-size: 180%;
    color: sandybrown;
    font-family: fantasy;
    transform:scale(2,1);
    -webkit-transform:scale(2,1);
}
.home {
    text-align: center;
    font-size: 145%;
    
}
table {
    border-collapse: collapse;
    font-size: 170%;
}
tr:nth-child(even) {
    background: whitesmoke;
}
th{
    background: #E9E5E5
}
td {
    padding: 10px 15px 0px 5px;
}
tr:hover {
    background: aliceblue;
}
.link {
    background-color:transparent;
    border: 0 none; 
    font-size: 130%; 
    margin-bottom: 12px;
}

.link:hover {
    background-color:lightyellow; 
    text-decoration:underline;
}
div.centered 
{
    text-align: center;
}
div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}
.state {
    font-size: 180%;
}
aside {
    font-family: Garamound;
    font-size: 170%;
    width: 10%;
    float: left;
    margin-right: 10px;
    border: black 1px;
	}
div {
    width: 88%;
    float: right;
    border-left: 1px solid;
    padding-left: 10px;
	}
.side {
      font-size: 80%;
      
        }